body {
    font-family: 'Raleway', sans-serif !important;
    /* color: #fff; */
}

.grad70 {
    /* background: linear-gradient(rgb(23, 23, 23) 65%); */
    background: linear-gradient(black 65%, red);
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.vh100 {
    height: 100vh;
}

.logo {
    outline: 1px solid red;
}
